* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}

#main {
  height: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 6fr 5fr .5fr;
  background-color: #3D6870;

  
}

#head {
  display: block;
  grid-column: 1 / 3;
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center;
  #over {
    align-self: center;
    height: 100%;
    background-color: wheat;
    line-height: 150px;
    color: #2F4858; 


  }
  box-shadow: 0px 3px 5px rgb(36, 36, 36);
  z-index: 100;
}


#left {

  box-shadow: 0px 10px 5px rgb(36, 36, 36);

  grid-column: 1 / 2;
  grid-row: 3 / 4;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}


#right {
  transition: ease-in;
  transition: 0.25s;
  box-shadow: 5px 10px 5px rgb(36, 36, 36);

  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: wheat;
  h1 {
    padding: 20px;
    text-align: center;
    font-weight: lighter;
  }
  p {
    padding: 0px 40px 0 40px
  }
}

.elev {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 12px;
  min-width: 600px;
}

.ebillede {
  grid-column: 1 / 2;


  border-radius: 50%;
  width: 137px;
  max-width: 153px;
  border-style: solid;
  border-width: 1px;
  border-color: azure;
}



#GCP {
  grid-template-rows: 1 / 2;
  background-color: #689C6D;
  .ebillede {
    background-image: url("./../imgs/clari.jpeg");
    background-position: 50% 20%;
    background-size: 135px;
  }
}

#GCP:hover {
  background-color: #33853b;
  transition: .25s;
}

#Boston {
  background-color: #3d5170;

  grid-template-rows: 2 / 3;
  .ebillede {
    background-image: url("./../imgs/papi.jpeg");
    background-position: 50% 20%;
    background-size: 130px;
  }
}

#Boston:hover {
  background-color: #233b5c;
  transition: .25s;
}

#lærer {
  grid-template-rows: 3 / 4;
  background-color: #c0574b;
  .ebillede {
    background-image: url("./../imgs/julio.jpeg");
    background-position: 50% 10%;
    background-size: 130px;
  }
} 

#lærer:hover {
  background-color: #9e3c32;
  transition: .25s;
}




.mySlides {
  height: 450px;
  margin-left: auto;
  margin-right: auto;

}

.text {
  background: inherit;
  p {
    background-color: inherit;
    color: azure;

  }
  h1 {
    color: azure;
    background-color: inherit;
    font-weight: lighter;
  }
}

#G, #B, #L {
  color: azure;
}
.stuff {
  p {
    line-height: 2.2rem;
    font-size: 1rem;
  }
}

#d {
  color: #2F4858;
}

.mySlides {
  transition: ease-in;
  transition: .5s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
}

#slideshow {
  float: left;
  position: relative;
  width: 100%;
}
.billede {
  width: 100%;
  height: 100%;
  background-color: #3D6870;
  ;
  grid-column: 1/3;
  position: relative;
  margin: auto auto;
}

footer {
  width: 100%;
  height: 250px;
  background-color: #3D6870;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#logo {
  padding: 20px;
  #logoimg {
    height: 200px;
    filter: brightness(2);
  }
}